@tailwind base;
@tailwind components;
@tailwind utilities;

li{
  list-style: none;
}
.enlace-header{
    border: solid 1px red ;
}
.borde-desc-caras{
    border-top: solid .5px rgba(7, 6, 6, 0.149) ;
}
.ver-mas{
    border: solid 1px rgb(0, 0, 0) ;
}
.options-darklight{
  display: none;
}
.options-darklight.open{
  
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 6rem;
  right: 20rem;
  z-index: 999;

}
body{
    overflow-x: hidden;
  }








.ancho-nav >*{
  padding: 0 1.3rem ;
}
.center-hamburguer{
  /* padding: 21px 0; */
}
.padding-nav-op{
  height: 3rem;
  
  
}


/* CARRUSEL */



.ancho-options-nav{
  /* width: 4rem; */
}

.slidess{
    overflow-x: hidden;
   display: flex;
   flex-direction: row;
   width: 400%;
   transition: transform 1s ease-in-out;
   animation:12s ease-in-out carusel-animation  1s;
   
}
@keyframes carusel-animation {
  0%{

    transform: translateX(0%);
  }
 
  25%{
    transform: translateX(-25%); 
    
  }
  50%{
    transform: translateX(-50%);
    
  }
  75%{
    transform: translateX(-75%);
    
  }  
  
}
#slide1:checked ~ .slidess {
  transform: translateX(0%);
}
#slide2:checked ~ .slidess {
  transform: translateX(-25%); 
}
#slide3:checked ~ .slidess {
  transform: translateX(-50%);
}
#slide4:checked ~ .slidess {
  transform: translateX(-75%);
}


.position-rel{
  position: relative;
}


.carrusel input{
  display: none;
}
 label{
  display: inline-block;
  border: solid 2px black;
  margin:  1rem;
  height: 1rem;
  width:  1rem;
  
}


#slide1:checked ~.aside-navegacion #punto1,
#slide2:checked ~.aside-navegacion #punto2,
#slide3:checked ~.aside-navegacion #punto3,
#slide4:checked ~.aside-navegacion #punto4{
  background-color: rgb(22, 18, 18);
}


/* CARRUSEL FIN  */






.img-header{
    /* background-image: url(/assets/back-image.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    
    /* object-fit: contain;
    height: fit-content; */
    
  }
  .img-header-2{
  object-fit: cover;
  /* background-image: url(/assets/back-image2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  
  
}
.img-header-3{
  object-fit: cover;
  object-position: center;
  /* background-image: url(/assets/back-image3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  
  
}
.img-header-4{
  object-fit: cover;
    /* background-image: url(/assets/back-image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    
    
}
.another-bg-img{
    background-image: url(/assets/cara1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.another-bg-img-2{
    background-image: url(/assets/cara2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.another-bg-img-3{
    background-image: url(/assets/cara3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.another-bg-img-4{
    background-image: url(/assets/cara4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.img-product{
    background-image: url(/assets/paquete.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .img-product-2{
    background-image: url(/assets/paquete2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .img-product-3{
    background-image: url(/assets/paquete3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .img-product-4{
    background-image: url(/assets/paquete4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
/* img{
    width: auto;
    height: 3rem;
} */
.borde-productos{
    border: solid 1px rgb(243, 240, 240) ;
    
}

  .max-height-img-bar{
    height: 3rem ;
  }
  
  .enlace-header{
    border: solid 1px red ;
  }
  
  .borde-desc-caras{
    border-top: solid .5px rgba(7, 6, 6, 0.149) ;
  }
  
  .ver-mas{
    border: solid 1px rgb(0, 0, 0) ;
  }
  

  
  .another-bg-img{
    background-image: url(/assets/cara1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .another-bg-img-2{
    background-image: url(/assets/cara2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .another-bg-img-3{
    background-image: url(/assets/cara3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .another-bg-img-4{
    background-image: url(/assets/cara4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .img-product{
    background-image: url(/assets/paquete.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  
  .img-product-2{
    background-image: url(/assets/paquete2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .img-product-3{
    background-image: url(/assets/paquete3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .img-product-4{
    background-image: url(/assets/paquete4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  

  .borde-productos{
    border: solid 1px rgb(243, 240, 240) ;
  }
